INTERNAL_NETWORK: {{ network }}
NETWORK_GATEWAY: {{ gateway }}
DOMAIN_NAME: {{ site }}.grid5000.fr
MASTER: {{ master_ip }}
CLUSTER_NAME: HPC_CLUSTER

ansible_python_interpreter: /usr/bin/python3.11
# global_check: false

REGISTRY_PORT: 5000
